* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}